
div{
    font-family: 'Quicksand', sans-serif;
}

button{
    border: none;
    background-color: rgb(219, 219, 219);
    padding: 8px 15px;
    text-align: center;
    margin-top: 15px;
    float: right;
    cursor: pointer;
    margin: 15px 5px;
    display:block;
 
}
button:hover{
  background-color: rgb(210, 208, 208);
}

h2,th,td,h4{
    text-align: center;
}
th{
    background-color: rgb(204, 202, 202);
}

 td,th {  
    border: 1px solid #ddd;
    padding: 4px;
  }

  table {
    border-collapse:collapse;
    width: 50%;
    text-align: center;
  }

table.center {
    margin-left: auto; 
    margin-right: auto;
  }

  tr:hover {background-color: rgb(233, 231, 231);}

