
div{
    font-family: 'Quicksand', sans-serif;
}
h2,th,td,h4{
    text-align: center;
}
th{
    background-color: rgb(204, 202, 202);
}

 td,th {  
    border: 1px solid #ddd;
    padding: 4px;
  }

  table {
    border-collapse:collapse;
    width: 50%;
    text-align: center;
  }

table.center {
    margin-left: auto; 
    margin-right: auto;
  }

  tr:hover {background-color: rgb(233, 231, 231);}