h5{
    font-family: 'Quicksand', sans-serif;

}
a{
    color:rgb(108, 106, 106);
    text-decoration: none;
}
a:hover{
    color: rgb(74, 74, 74);
}

h5{
    font-family: 'Quicksand', sans-serif;
    text-align: right;
    font-style:italic;
    text-decoration: underline;

}
#listbar{
text-align: right;
}

#favlocation,#search,#mapView{
    padding-right: 15px;
    text-align: right;
    float: right;

}
link{
    float: right;
}
