h5{
    font-family: 'Quicksand', sans-serif;

}
a{
    color:rgb(108, 106, 106);
    text-decoration: none;
}
a:hover{
    color: rgb(74, 74, 74);
}

h5{
    font-family: 'Quicksand', sans-serif;
    text-align: right;
    font-style:italic;
    text-decoration: underline;

}
#listbar{
text-align: right;
}

#bar{
    width: 100%;
    overflow: auto;
}
li {
    float:left;
    text-align: right;
  }
li a {
    float:right;
    text-align: center;
    text-decoration: none;
    padding-right: 15px;
  }
  